<posts xmlns:th="https://www.thymeleaf.org"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:noNamespaceSchemaLocation="../static/xml/post.xsd">
    <post th:each="post : ${feed}" th:id="${post.postId}">
        <header>
            <date th:text="${post.date}"></date>
            <username th:text="${post.user.username}"></username>
            <nametag th:text="${post.user.nametag}"></nametag>
            <pic th:text="${post.user.pic_path}"></pic>
        </header>
        <main>
            <body th:text="${post.content}"></body>
            <attach th:if="${post.image_path != null}" th:text="${post.image_path}"></attach>
        </main>
        <footer>
            <likes  th:nLikes="${post.likes}"/>
            <comments  th:nComments="${post.comments}">
                <comment th:if="${post.getListComment() != null}" th:each="comment : ${post.getListComment()}" th:id="${comment.commentId}">
                    <header>
                        <date th:text="${comment.date}"></date>
                        <username th:text="${comment.user.username}"></username>
                        <nametag th:text="${comment.user.nametag}"></nametag>
                        <pic th:text="${comment.user.pic_path}"></pic>
                    </header>
                    <main>
                        <body th:text="${comment.content}"></body>
                        <attach th:if="${comment.image_path != null}" th:text="${comment.image_path}"></attach>
                    </main>
                    <footer>
                        <likes  th:nLikes="${comment.likes}"/>
                        <comments  th:nComments="${comment.comments}"/>
                    </footer>
                </comment>
            </comments>
        </footer>
    </post>
</posts>