<%@ page contentType="text/xml;charset=UTF-8" %>
<jsp:useBean id="feed" scope="request" type="com.example.progettowsda.BeanFeed"/>

<posts xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:noNamespaceSchemaLocation="xml/post.xsd">

    <% for(int i = 0; i < feed.getPostList().size(); i++) { %>
    <post id="<%= feed.getPostList().get(i).getPost_id() %>">
        <header>
            <date><%= feed.getPostList().get(i).getDate() %></date>
            <username><%= feed.getPostList().get(i).getUsername() %></username>
            <nametag><%= feed.getPostList().get(i).getNametag() %></nametag>
            <pic><%= feed.getPostList().get(i).getPic_path() %></pic>
        </header>
        <main>
            <body><%= feed.getPostList().get(i).getContent() %></body>
            <% if(feed.getPostList().get(i).getImage_path() != null) { %>
            <attach><%= feed.getPostList().get(i).getImage_path() %></attach>
            <% } %>
        </main>
        <footer>
            <likes nLikes="<%= feed.getPostList().get(i).getLikes() %>"/>
            <comments nComments="<%= feed.getPostList().get(i).getComments() %>">
                <% for(int j = 0; j < feed.getPostList().get(i).getCommentsList().size(); j++) { %>
                <comment id="<%= feed.getPostList().get(i).getCommentsList().get(j).getComment_id() %>">
                    <header>
                        <date><%= feed.getPostList().get(i).getCommentsList().get(j).getDate() %></date>
                        <username><%= feed.getPostList().get(i).getCommentsList().get(j).getUsername() %></username>
                        <nametag><%= feed.getPostList().get(i).getCommentsList().get(j).getNametag() %></nametag>
                        <pic><%= feed.getPostList().get(i).getCommentsList().get(j).getPic_path() %></pic>
                    </header>
                    <main>
                        <body><%= feed.getPostList().get(i).getCommentsList().get(j).getContent() %></body>
                        <% if(feed.getPostList().get(i).getCommentsList().get(j).getImage_path() != null) { %>
                        <attach><%= feed.getPostList().get(i).getCommentsList().get(j).getImage_path() %></attach>
                        <% } %>
                    </main>
                    <footer>
                        <likes nLikes="<%= feed.getPostList().get(i).getCommentsList().get(j).getLikes() %>"/>
                        <comments nComments="<%= feed.getPostList().get(i).getCommentsList().get(j).getComments() %>"/>
                    </footer>
                </comment>
                <% } %>
            </comments>
        </footer>
    </post>
    <% } %>
</posts>